body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../images/backgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    margin: 0;
    border-bottom: 1px solid #333;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-left: 81%
  }
  
  nav li {
    margin-left: 20%;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #ccc;
  }

  .logout-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #d9534f; 
}
.container {
    max-width: 500px;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    backdrop-filter: blur(2px);
    background-color: transparent;
    box-shadow: 2px 5px 20px 12px black;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="text"],
textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top:20px;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
}
